# Marimo authentication token password
# Set this to a secure password for basic authentication
MARIMO_TOKEN_PASSWORD=your_secure_password_here

# User ID and Group ID (run 'id -u' and 'id -g' to find yours)
UID=1000
GID=1000
